@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: snow;
  background: #15151C;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Set the overall style of the scroll bar */

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scroll bar */
}

/* Set the track style of the scroll bar */

::-webkit-scrollbar-track {
  background-color: #15151C; /* Set the background color of the track */
}

/* Set the thumb style of the scroll bar */

::-webkit-scrollbar-thumb {
  background-color: #1F1F28; /* Set the background color of the thumb */
  border-radius: 5px; /* Set the corner radius of the thumb */
}